.team-page{
	margin: 1%;
	padding: 20px;
	background-color: #eee;
	border: 1px solid #999;
	display: flex;
	display: -webkit-flex;
	flex-wrap: nowrap;
	justify-content:space-around;
}
.section1{
	border: 1px solid #999;
	padding: 20px;
	width: 200px;
	flex: none;
	-webkit-flex:none;
}
.section2{
	border: 1px solid #999;
	padding: 20px;
	flex-grow: 1;
	margin: 0 auto;
}
.section3{
	border: 1px solid #999;
	padding: 20px;
	width: 120px;
	flex: none;
	-webkit-flex:none;
}
.section3 p>img{
	width: 80px;
	height: 80px;
}